/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}
@font-face{
  font-family: myFont;
  src: url('/assets/fonts/Poppins-Black.ttf') format('truetype');
}
@font-face{
  font-family: myFontlight;
  src: url('/assets/fonts/Poppins-Light.ttf') format('truetype');
}


body{
  background-color: #3B2A9F;
  font-family: myFont;
  font-weight: normal;
  display: flex;

}
header{

position: absolute;
height: 100px;
left: 0.23px;
top: 0px;
width: 1700px;
display:flex;
text-align: center;
background-color: #3B2A9F;


}

.logo{
color: white;
font-family: myFont;
font-size: 29px;
font-weight: 800;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
width: 81.93px;
height: 45px;
margin-top: 25px;
margin-left: 59.18px;
display: flex;

}

.list{
  display: flex;
  justify-content: center;
  gap: 100px;
  color: white;
  list-style-type: none;
  margin-left: 700px;
  margin-top: 35px;
  font-family: myFontlight;
  font-weight: normal;


}
.nav:hover{
  text-decoration: underline  #FA8305 3px ;
  
}
.light{
  background-color: #FA8305;
  color: white;
  font-family: myFontlight;
  margin-left: 100px;
  width:150px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  border-radius: 6px;

}
.prove{
  color:#FA8305;
  font-size: 20px;

}
.work{
  color: white;
  margin-top: 30px;
  font-weight: 700px;
  font-size: 60px;
}
.dummy{
  color: white;
  font-family: myFontlight;
  margin-top: 30px;
  margin-bottom: 60px;
}
.textbox{
  margin-top: 203px;
  margin-left: 147px;
  width: 500px;
  height: 409px;
  
}
.detail{
  color: white;
  background-color: #FA8305;
  text-decoration: none;
  font-family: myFontlight;
  margin-top: 100px;
  padding: 20px;
  border-radius: 40px;

}
.unity{
  width: 96px;
  height: 30px;
  margin-top: 435px;
  margin-left: 100px;
}
.cry{
  width: 101px;
  height: 99px;
  margin-top: 202px;
  margin-left: 200px;
}
.unreal{
  width: 59px;
  height: 64px;
  margin-left: 250px;
  margin-top: 202px;
  

}
.game{
  width: 806px;
  height: 761px;
  margin-left:50px ;
  margin-top: 50px;
}
.imgbox{
  position: absolute;
  margin-left: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
}
