/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}
@font-face{
  font-family: myFont;
  src: url("/css-Gaming-website/assets/fonts/Poppins-Medium.ttf") format('truetype');
}
@font-face{
  font-family: myFontlight;
  src: url("/css-Gaming-website/assets/fonts/Poppins-Light.ttf") format('truetype');
}


body{
  background-color: #3B2A9F;
  font-family: myFont;

}
header{

position: absolute;
height: 100px;
left: 0.23px;
top: 0px;
width: 1700px;
display:flex;
text-align: center;
background-color: #3B2A9F;


}

.logo{
color: white;
font-family: myFont;
font-size: 29px;
font-weight: 800;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
width: 81.93px;
height: 45px;
margin-top: 25px;
margin-left: 59.18px;
display: flex;

}

.list{
  display: flex;
  justify-content: center;
  gap: 100px;
  color: white;
  list-style-type: none;
  margin-left: 700px;
  margin-top: 35px;
  font-family: myFontlight;
  font-weight: normal;


}
.nav:hover{
  text-decoration: underline  #FA8305 3px ;
  
}
.light{
  background-color: #FA8305;
  color: white;
  font-family: myFontlight;
  margin-left: 100px;
  width:150px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  border-radius: 6px;

}
.prove{
  color:#FA8305;
  font-size: 20px;

}
.work{
  color: white;
  margin-top: 30px;
  font-weight: 700px;
  font-size: 60px;
}
.dummy{
  color: white;
  font-family: myFontlight;
  margin-top: 30px;
  margin-bottom: 60px;
}
.textbox{
  margin-top: 203px;
  margin-left: 147px;
  width: 500px;
  height: 409px;
  
}
.detail{
  color: white;
  background-color: #FA8305;
  text-decoration: none;
  font-family: myFontlight;
  margin-top: 100px;
  padding: 20px;
  border-radius: 40px;

}
.unity{
  width: 96px;
  height: 30px;
  margin-top: 435px;
  margin-left: 100px;
}
.cry{
  width: 101px;
  height: 99px;
  margin-top: 202px;
  margin-left: 200px;
}
.unreal{
  width: 59px;
  height: 64px;
  margin-left: 250px;
  margin-top: 202px;
  

}
.game{
  width: 806px;
  height: 761px;
  margin-left:50px ;
  margin-top: 50px;
}
.imgbox{
  position: absolute;
  margin-left: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@font-face {
  font-family: rubik;
  src: url("/css-Gaming-website/assets/fonts/Rubik-Medium.ttf")format("truetype");
}
.trend{
  color: white;
  width: 404px;
  height: 58px;
  margin-top: 130px;
  margin-left: 147px;
  font-weight: 700px;
  font-size: larger;
  font-family: rubik;
}
.all{
  margin-left: 800px;
  margin-top: 120px;
  font-family: rubik;
  width: 139px;
  height: 57px;
  background-color: #5141AA;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500px;

}
.imglist{
  margin-top: 50px;
}
.first{
  margin-left: 147px;
  border-radius: 20px;
  width: 251px;
  height: 277px;

}
.therest{
  margin-left: 110px;
  border-radius: 20px;
  width: 251px;
  height: 277px;
}
.fire1{
  margin-left: 195px;
  margin-top: 10px;
  width: 25px;
  height: 25px;
}
.followers{
  margin-top: 10px;
  margin-left: 10px;
  font-family: rubik;
  color: white;
  width: 136px;
  height: 41px;
  font-size: 22px;

}
.fire{
  margin-left: 190px;
  margin-top: 10px;
  width: 25px;
  height: 25px;

}
.first:hover{
  transition: opacity 0.3;
  opacity: 0.7;
}
.therest:hover{
  transition: opacity 0.3;
  opacity: 0.7;
}
.dummylorem{
  color: white;
  font-family: myFont;
  width: 826px;
  height: 132px;
  text-align: center;
  margin-left: 400px;
  font-size: 35px;
  margin-top: 120px;
}
.txtbox{
  width: 545px;
  height: 173px;
  margin-left: 147px;
  margin-top: 50px;
  color: white;

}
.lorem{
  font-size: 30px;
  margin-bottom: 20px;
}
.nextlorem{
  font-size: 16px;
  font-family: myFontlight;
}
.dot{
  color:#DC700059;
  width: 300px;
  height: 7px;
  font-size: 40px;
  margin-top: 10px;
  padding: 0;
}
.dots{
  position:-ms-page;
  margin-left: 1200px;
  margin-top: 0;
  padding: 0;
}
.spiderman{
  width: 1350px;
  height: 550px;
  border-radius: 5px;
  border-color: #000;
  margin-left: 147px;
  margin-top: 0;
  position:absolute;
  background-image: url(/css-Gaming-website/assets/images/bda8f371503fa58f7e526fe7b0cd55c9.jpg);
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position:0 40%;
  
 
}
.txtbox2{
  color: white;
  margin-top: 700px;
  text-align: center;
  width: 497px;
  height: 128px;
  margin-left: 570px;
  margin-bottom: 50px;
}
@font-face {
  font-family: poppins;
  src: url(/assets/fonts/Poppins-SemiBold.ttf);
}
.projects{
  font-size: 30px;
  font-family: poppins;
  
}
.lorem3{
  font-size: 14px;
  font-family: myFontlight;
  margin-top: 20px;
}
.imgs{
  margin-left: 135px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
}
.ph1{
  border-radius: 20px;
  width: 422px;
  height: 223px;
  margin-right: 40px;
}
.ph2{
  border-radius: 20px;
  width: 422px;
  height: 223px;
  margin-right: 40px;
}
.ph3{
  border-radius: 20px;
  width: 402px;
  height: 223px;
}
.ph4{
  border-radius: 20px;
  width: 296px;
  height: 223px;
  margin-right: 40px;
}
.ph5{
  border-radius: 20px;
  width: 451px;
  height: 223px;
  margin-right: 40px;
}
.ph6{
  border-radius: 20px;
  width: 509px;
  height: 223px;
}
.blackbox{
  background-color: #1C140F;
  display: flex;
  width: 1350px;
  height: 200px;
  margin-left: 135px;
  border-radius: 15px;
  padding-bottom: 50px;
}
.email{
  background-color: white;
  height: 55px;
  border-radius: 8px;
  width: 386px;
  margin-left: 300px;
  margin-top: 80px;
}
.write{
  border: white;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 13px;
}
::placeholder{
  color: #898989;
}
.btn{
  background-color: #FA8305;
  width: 105px;
  height: 37px;
  border-radius: 8px;
  border: #FA8305;
  color: white;
  margin-left: 47px;
  font-size: 13px;
}
footer{
  background-color:#000;
  margin-top: 200px;
  height: 430px;
  width: 1700px;
}
.firstlogo{
  color:white;
  width: 68px;
  height: 37px;
  margin-left: 100px;
  font-size: 24px;
  font-family: poppins;
  
}
.lorem4{
  color:white;
  margin-left: 100px;
  width: 372px;
  height: 58px;
  font-size: 16px;
  font-family: myFontlight;
  margin-top: 25px;
}
.secondlogo{
  color:white;
  margin-left: 100px;
  font-size: 16px;
  font-family: myFontlight;
  width: 196px;
  height: 23px;
  margin-top: 40px;
}
.us{
  color: white;
  width: 100px;
  height: 26px;
  font-size: 19px;
  margin-bottom: 20px;
  

}
.uslist{
  color: white;
  list-style-type: none;
}
.item{
  margin-bottom: 13px;
  font-size: 17px;
  font-family: myFontlight;
}
.firstcircle{
 position: absolute;
 width: 50px;
 height: 50px;
 margin-left: 200px;
 margin-top: 260px;
}
.facebook{
  margin-left: 218px;
  margin-top: 275px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.circle2{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 260px;
  margin-left: 250px;
}
.instagram{
  margin-top: 275px;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 268px;
}
.circle3{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 260px;
  margin-left: 300px;
}
.twt{
  margin-top: 275px;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 318px;
}
.circle4{
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 260px;
  margin-left: 350px;
}
.in{
  margin-top: 275px;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 368px;
}
.copy{
  width: 350px;
  height: 25px;
  margin-top: 30px;
  font-family: myFontlight;
  color: white;
  margin-left: 650px;
}